<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singin</title>
</head>
<body>
    <center>
        <p style="color: blue;">Singin</p>
        <fieldset>
            <center>
                Name: <br>
                <input type="text" name="name" id="" value=""> <br>
                Username: <br>
                <input type="text" name="Username" id="" value=""> <br>
                Email: <br>
                <input type="text" name="Email" id="" value=""> <br>
                Password: <br>
                <input type="password" name="password" id="" value=""> <br>
                Confirm-password: <br>
                <input type="password" name="Confirmpassword" id="" value=""> <br>
                Gender: <br>
                <input type="radio" name="" id="" value="">
                <label for="radio"> Male</label> 
                <input type="radio" name="" id="" value="">
                <label for="radio">Female</label>
            </center>
        </fieldset>
    </center>
</body>
</html>