<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The main page of my project</title>
</head>
<body>
    <h1>Welcome to my page</h1>
    <fieldset>
        <legend><strong>login page</strong></legend>
        <form method="post" action="">
            <!--This is for input the name-->
            Name: <br>
            <input type="text" name="name" id="" value=""/ > <br> <br>
            <!--this is for input the email of the user-->
            Email: <br>
            <input type="text" name="Email" id="" value=""/ > <br> <br>

            

        </form>
    </fieldset>
</body>
</html>